---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments:
  Enabled: true
AlignEscapedNewlines: Left
AllowShortNamespacesOnASingleLine: true
BinPackArguments: false
BinPackLongBracedList: false
IncludeBlocks: Regroup
IndentAccessModifiers: true
IndentPPDirectives: BeforeHash
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
PointerAlignment: Left
